{% extends "layout.html" %}
{% block content %}
<h2>Add a New Recipe</h2>

<!-- 
When the user clicks the "Add Recipe" button, 
the form data is sent as a POST request to the current URL,
which is /add_recipe.
  -->
<form method="POST">

    <!-- Select dish type from dropdown -->
    <label for="dish_type">Type of Dish:</label>
    <select id="dish_type" name="dish_type" required>
        <option value="starters">Starters</option>
        <option value="main">Main</option>
        <option value="soup">Soup</option>
        <option value="salad">Salad</option>
        <option value="dessert">Dessert</option>
    </select>
    <br><br>

    <!--
    "id" provides a unique identifier for an HTML element within the page.
    "name" defines the name of the form data key that will be sent to the server 
    when the form is submitted.
    "value" specifies the value associated with the input element that gets sent 
    to the server if the input is selected or filled. E.g. if the dairy checkbox is 
    checked, dairy will be included in the submitted form data under the key 
    ingredients.
    "for" links the label to a specific input element by referring to the input's id.
    -->

    <!--  Dish name  -->
    <label for="name">Dish Name:</label><br>
    <input type="text" id="name" name="name" required>
    <br><br>

    <!-- Description -->
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50"></textarea>
    <br><br>

    <!-- Ingredients checkboxes -->
    <label>Ingredients present:</label><br>

    <input type="checkbox" id="dairy" name="ingredients" value="dairy">
    <label for="dairy">Dairy</label><br>

    <input type="checkbox" id="egg" name="ingredients" value="egg">
    <label for="egg">Egg</label><br>

    <input type="checkbox" id="meat" name="ingredients" value="meat">
    <label for="meat">Meat</label><br>

    <input type="checkbox" id="nuts" name="ingredients" value="nuts">
    <label for="nuts">Nuts</label><br><br>

    <!-- Submit button to add the recipe -->
    <button type="submit">Add Recipe</button>
</form>
{% endblock %}