<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Cookbook App</title>
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Cookbook Application</h1>
        <!-- Check if a user is logged in by verifying session 'username' -->
        {% if session.get('username') %}
        <p>
            <!-- 
            If user is logged in, display a user-specific greeting and 
            navigation links  -->
            Welcome, {{ session['username'] }} |
            <a href="{{ url_for('add_recipe') }}">Add recipe</a> |
            <a href="{{ url_for('search_recipe') }}">Search recipe</a> |
            <a href="{{ url_for('preferences') }}">User preferences</a> |
            <a href="{{ url_for('logout') }}">Logout</a>
        </p>
        {% endif %}
        <!-- hr is a horizontal line separator -->
        <hr>
    </header>
    <main>
        <!-- Main content area of the page -->

        <!-- Display flash messages for user notifications -->
        {% with messages = get_flashed_messages() %}
        <!-- Check if there are any messages -->
        {% if messages %}
        <ul class="flashes">
            <!-- Loop through each message and display it as a list item -->
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- Placeholder for page-specific content to be overridden in child templates -->
        {% block content %}{% endblock %}
    </main>
</body>

</html>