<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
</head>

<body>
    <center>
        <h1>Simple Login Form </h1>
    </center>
    <form method="POST"> <!-- Set method to POST -->
        <div class="container">
            <label>Username: </label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password: </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
            {% if error %} <!-- Display error if exists -->
            <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
    </form>
</body>

</html>